


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header {
  padding: 50px 0;
}

#header #logo {
  text-align: center;
}
#header #logo * {
  margin: 0;
  padding: 0;
  line-height: 1;
}
#header #logo h1 {
  font-size: 42px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#header #logo p {
  margin-top: -3px;
  font-size: 0.9rem;
  font-style: italic;
  text-transform: lowercase;
}

/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro {
  padding: 120px 0;
  text-align: center;
}

#pageintro article {
  display: block;
  max-width: 60%;
  margin: 0 auto;
}
#pageintro article .introtxt {
  margin: 0 0 50px 0;
  padding: 30px;
  border-radius: 0 50px;
}
#pageintro article .heading {
  margin-bottom: 30px;
  font-size: 36px;
}
#pageintro article p:last-of-type {
  margin-bottom: 0;
}



/* Logos
--------------------------------------------------------------------------------------------------------------- */
#logos {
  padding: 30px 0;
}
#logos li {
  float: left;
  width: 16%;
  margin-left: 5%;
}
#logos li:first-child {
  margin-left: 0;
}
#logos li img {
  opacity: 0.5;
}
#logos li:hover img {
  opacity: 1;
}

/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer {
  padding: 80px 0;
}

#footer .title {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

#footer .linklist li {
  display: block;
  margin-bottom: 15px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid;
}
#footer .linklist li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
#footer .linklist li::before,
#footer .linklist li::after {
  display: table;
  content: "";
}
#footer .linklist li,
#footer .linklist li::after {
  clear: both;
}

#footer .contact {
}
#footer .contact.linklist li,
#footer .contact.linklist li:last-child {
  position: relative;
  padding-left: 40px;
}
#footer .contact li * {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
#footer .contact li i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  font-size: 16px;
  text-align: center;
}

#footer input,
#footer button {
  border: 1px solid;
}
#footer input {
  display: block;
  width: 100%;
  padding: 8px;
}
#footer button {
  padding: 8px 18px 10px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

/* Copyright

/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*,
*::before,
*::after {
  transition: all 0.3s ease-in-out;
}
#mainav form * {
  transition: none !important;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul,
nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#mainav,
#breadcrumb,
.sidebar nav {
  line-height: normal;
}
#mainav .drop::after,
#mainav li li .drop::after,
#breadcrumb li a::after,
.sidebar nav a::after {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 10px;
  line-height: 10px;
}

/* Top Navigation */
#mainav {
  margin-bottom: 40px;
  border-bottom: 1px solid;
}
#mainav ul {
  text-transform: uppercase;
  text-align: center;
}
#mainav ul ul {
  z-index: 9999;
  position: absolute;
  width: 160px;
  text-transform: none;
  text-align: left;
}
#mainav ul ul ul {
  left: 160px;
  top: 0;
}
#mainav li {
  display: inline-block;
  position: relative;
  margin: 0 30px 0 0;
  padding: 0;
}
#mainav li:last-child {
  margin-right: 0;
}
#mainav li li {
  width: 100%;
  margin: 0;
}
#mainav li a {
  display: block;
  padding: 20px 0;
}
#mainav li li a {
  border: solid;
  border-width: 0 0 1px 0;
}
#mainav .drop {
  padding-left: 15px;
}
#mainav li li a,
#mainav li li .drop {
  display: block;
  margin: 0;
  padding: 10px 15px;
}
#mainav .drop::after,
#mainav li li .drop::after {
  content: "\f0d7";
}
#mainav .drop::after {
  top: 25px;
  left: 5px;
}
#mainav li li .drop::after {
  top: 15px;
  left: 5px;
}
#mainav ul ul {
  visibility: hidden;
  opacity: 0;
}
#mainav ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}

#mainav form {
  display: none;
  margin: 0;
  padding: 20px 0;
}
#mainav form select,
#mainav form select option {
  display: block;
  cursor: pointer;
  outline: none;
}
#mainav form select {
  width: 100%;
  padding: 5px;
  border: 1px solid;
}
#mainav form select option {
  margin: 5px;
  padding: 0;
  border: none;
}






/* Colours
--------------------------------------------------------------------------------------------------------------- */
body {
  color: #888888;
  background-color: #ffffff;
}
a {
  color: #82a800;
}
a:active,
a:focus {
  background: transparent;
} 
/* IE10 + 11 Bugfix - prevents grey background */
hr,
.borderedbox {
  border-color: #d7d7d7;
}
label span {
  color: #ff0000;
  background-color: inherit;
}
input:focus,
textarea:focus,
*:required:focus {
  border-color: #82a800;
}
.overlay {
  color: #ffffff;
  background-color: inherit;
}
.overlay::after {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.55);
}

.btn,
.btn.inverse:hover {
  color: #ffffff;
  background-color: #82a800;
  border-color: #82a800;
}
.btn:hover,
.btn.inverse {
  color: inherit;
  background-color: transparent;
  border-color: inherit;
}



/* Page Intro */
#pageintro article {
  color: #ffffff;
}
#pageintro article .introtxt {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.75);
}






/* Navigation */
#mainav {
  border-color: rgba(255, 255, 255, 0.2);
}
#mainav li a {
  color: inherit;
}
#mainav .active a,
#mainav a:hover,
#mainav li:hover > a {
  color: #82a800;
  background-color: inherit;
}
#mainav li li a,
#mainav .active li a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}
#mainav li li:hover > a,
#mainav .active .active > a {
  color: #ffffff;
  background-color: #82a800;
}
#mainav form select {
  color: #ffffff;
  background-color: #1f1f1f;
  border-color: #000000;
}






